<ion-header>
  <ion-toolbar>
    <ion-title>{{message}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-searchbar class="searchBar" [(ngModel)]="searched" (ionChange)="searchBar()" placeholder="Chercher un arrêt"></ion-searchbar>
    <ion-button class="closeBtn" (click)="dismiss()" fill="clear">
      <ion-icon name="arrow-undo"></ion-icon>
    </ion-button>
  </div>
  <ion-card>
    <ion-item *ngFor="let stop of allStops | stopFilter: searched" (click)="stopChoosen(stop.stopId)" lines="none">
      <ion-icon name="git-commit-outline"></ion-icon>
        <ion-label>
          <span>{{ stop.parentStation.city }}</span>
          <h2>{{ stop.parentStation.name }}</h2>
        </ion-label>
    </ion-item>
  </ion-card>

</ion-content>