<ion-header>
  <ion-toolbar>
    <ion-title>Lignes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card" *ngFor="let line of lineList">
    <div class="summary" (click)="detail(line.id)">
      <div class="shortName" style="background-color:#{{line.color}}">
        {{ line.shortName }}
      </div>
      <div class="longName">
        {{ line.longName }}
      </div>
    </div>
    <ion-list class="detailStops" *ngIf="lineListDetailCondition[line.id]">
      <ion-item>
        <ion-label>détails arrêts ligne {{ line.shortName }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
