
.card {
    display: flex;
    flex-wrap: wrap;
}
.summary {
    width: max-content;
}

.shortName {
    color: #FFFFFF;
    text-align: center;
    padding-top: 6px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-top: 3px;
    margin-left: 3px;
}