<ion-header>
  <ion-toolbar>
    <ion-title>Lignes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card" *ngFor="let line of lineList">
    <div class="contentDiv" (click)="detail(line.id)">
      <div class="lineLetter" style="background-color:#{{line.color}}">
        {{ line.shortName }}
      </div>
      <div class="lineName">
        <label>{{ line.longName }}</label>
      </div>
    </div>
    <ion-list *ngIf="lineListDetailCondition[line.id]">
      <ion-button (click)="direction(line.id)" fill="clear">
        <label>Changer la direction</label> 
        <ion-icon name="swap-vertical"></ion-icon>
      </ion-button>
      <ion-item *ngFor="let stop of stopList[line.id]" lines="none" (click)="displayStop(stop)">
        <ion-icon name="git-commit-outline"></ion-icon>
        <label>{{ stop.stopName }}</label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
