@import "../../theme/variables.scss";

#map{
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    margin: 2%;

    ion-searchbar {
        height: 3rem;
        z-index: 2;
        margin: 2%;
        padding: 2%;
        border-radius: 0.5rem;
        box-shadow: 0.25rem 0.5rem 1rem black;
        --border-radius: 0.5rem;
    }

    ion-button {
        height: 3rem;
        z-index: 3;
        margin: 2%;
        border-radius: 0.5rem;

        ion-icon {
            font-size: xx-large;
        }
    }
}

.footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 8%;
    z-index: 0;
    margin: 2% 10%;
    border-radius: 0.5rem;

    ion-col {
        text-align: center;

        ion-icon {
            font-size: 1.5rem;
        }

        label {
            color: var(--ion-color-accent)
        }
    }
}
