@import "../../theme/dark_theme.scss";
@import "../../theme/light_theme.scss";

@media (prefers-color-scheme: dark) {
    /*
     * Darks Colors
     * -------------------------------------------
     */

    ion-tab-button {
        --color: var(--ion-color-accent);
        --color-selected: var(--ion-color-accent-tint);
    }
}

@media (prefers-color-scheme: light) {
    /*
     * Lights Colors
     * -------------------------------------------
     */

    ion-tab-button {
        --color: var(--ion-color-accent);
        --color-selected: var(--ion-color-accent-tint);
    }
}