<ion-header>
  <ion-toolbar>
    <ion-title>Itinéraire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="stopsContent">
  <div class="stopsDiv" *ngIf="!favoriteTrip">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input class="stopInput" placeholder="Départ" [(ngModel)]="depart" (click)="openModalDeparture()" fill="clear"></ion-input>
          <ion-button class="reverseButton" fill="clear" (click)="reverseStops()">
            <ion-icon name="swap-vertical"></ion-icon>
          </ion-button>
          <ion-input class="stopInput" placeholder="Arrivée" [(ngModel)]="arrivee" (click)="openModalArrival()" fill="clear"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="favoriteTrip">
    <ion-list>
      <ion-item *ngFor="let trip of favoriteListTrip" (click)="selectFavoriteTrip(trip)">
        <ion-label>{{ trip[0] }} -> {{ trip[1] }}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="dateTimeDiv">
    <ion-label>Date & Heure</ion-label>
    <ion-grid >
      <ion-row>
        <ion-col>
          <ion-item id="open-date-input-1" lines="none">
            <ion-label>{{ dateString }}</ion-label>
            <ion-text slot="end">{{ dateValue }}</ion-text>
            <ion-popover trigger="open-date-input-1" show-backdrop="false">
              <ng-template>
                <ion-datetime #popoverDate presentation="date" (ionChange)="dateValue = formatDate(popoverDate.value)"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-select value="goAfter" class="selectAfterBefore"
                [interfaceOptions]="customPopoverOptions" interface="popover">
              <ion-select-option value="goAfter">Partir après </ion-select-option>
              <ion-select-option value="arriveBefore">Arriver avant </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item id="open-time-input-2" lines="none">
            <ion-label>{{ timeString }}</ion-label>
            <ion-text slot="end">{{ timeValue }}</ion-text>
            <ion-popover trigger="open-time-input-2" show-backdrop="false" #popOverTime>
              <ng-template>
                <ion-datetime #popoverTime presentation="time" (ionChange)="timeValue = formatTime(popoverTime.value)"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="pmrAccessDiv">
    <img src="/assets/icon/disabled.png">
    <ion-label>Accès PMR</ion-label>
    <ion-toggle [(ngModel)]="PMRaccess"></ion-toggle>
  </div>

  <div class="footer">

    <ion-button class="favoriteBtn" fill="clear" (click)="toggleFavorite()" >
      <ion-icon name="heart{{toggled ? '' : '-outline'}}"></ion-icon>
    </ion-button>

    <ion-segment (ionChange)="segmentChanged($event.target.value)" value="new">
      <ion-segment-button value="new">
        <ion-label>Nouveau</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>Favoris</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-button class="goBtn" fill="clear" (click)="itinerary()">
      <ion-icon name="navigate"></ion-icon>
      <ion-label>Go</ion-label>
    </ion-button>
  </div>

</ion-content>
