@import "../../theme/variables.scss";

.city {
   font-size: smaller;
   width: min-content;
}

.favoriteTrip {
   height: 213px;
}

.stopsDiv {
   
   span{
      text-align:left;
      width:100%;
      }
   
   .stopButton {
      border: solid 2px var(--ion-color-accent);
      border-radius: 0.5rem;
      width: 100%;
   }

   .reverseButton {
      color: var(--ion-color-accent-tint);
      border: solid 2px var(--ion-color-accent-tint);
      display: block;
      margin: auto;
      border-radius: 0.5rem;
      width: 25%;
      height: 2rem;

      ion-icon {
         color: var(--ion-color-accent-tint);
      }
   }
}

.dateTimeDiv {
   
   ion-label {
      color: var(--ion-color-accent);
   }

   ion-item {
      --ion-item-background: transparent;
      border-bottom: solid 1px var(--ion-color-accent);
      
      ion-select {
         font-size: medium;
      }

      ion-label {
         color: var(--ion-color-accent-tint);
         font-size: medium;
      }
   }
}

.pmrAccessDiv {
   
   ion-icon {
      font-size: xx-large;
   }

   ion-label {
      color: var(--ion-color-accent-tint);
      margin: auto 1rem;
   }

   ion-toggle {
   }
}