<ion-header>
  <ion-toolbar>
    <ion-title>Itinéraire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="stopsDiv" *ngIf="!favoriteTrip">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="stopButton" fill="clear">Départ</ion-button>
          
<!-- 
          <ion-modal [isOpen]="true">
            <ng-template>
              <ion-content>
                <ion-searchbar [(ngModel)]="departure" (ionChange)="start()"></ion-searchbar>
                <ion-list>
                  <ion-item *ngFor="let stop of allStops">
                    <ion-label>{{ stop.stopName }}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-modal> -->

          <ion-list>
            <ion-item *ngFor="let stop of allStops">
              <ion-label class="city">{{ stop.parentStation.city }}</ion-label>
              <ion-label class="stopName">{{ stop.parentStation.name }}</ion-label>
            </ion-item>
          </ion-list>
          
          <ion-button class="stopButton" fill="clear">Arrivée</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="reverseButton" fill="clear">
            <ion-icon name="swap-vertical"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="favoriteTrip">
    <ion-list>
      <ion-item *ngFor="let trip of favoriteListTrip">
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="dateTimeDiv">
    <ion-label>Date & Heure</ion-label>
    <ion-item button="true" id="open-date-input">
      <ion-label>Date</ion-label>
      <ion-text slot="end">{{ dateValue }}</ion-text>
      <ion-popover trigger="open-date-input" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #popoverDatetime
            presentation="date"
            (ionChange)="dateValue = formatDate(popoverDatetime.value)"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item>
      <ion-select value="goAfter" class="selectAfterBefore"
          [interfaceOptions]="customPopoverOptions" interface="popover">
        <ion-select-option value="goAfter">Partir après</ion-select-option>
        <ion-select-option value="arriveBefore">Arriver avant</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item button="true" id="open-time-input">
      <ion-label>Heure</ion-label>
      <ion-text slot="end">{{ timeValue }}</ion-text>
      <ion-popover trigger="open-time-input" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #popoverDatetime
            presentation="time"
            (ionChange)="timeValue = formatDate(popoverDatetime.value)"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
  </div>

  <div class="pmrAccessDiv">
    <ion-label>Accès PMR</ion-label>
    <ion-toggle [(ngModel)]="PMRaccess"></ion-toggle>
  </div>

  <div class="bottomDiv">

    <ion-button fill="clear">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-button>

    <ion-segment value="new" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="new" *ngIf="favoriteTrip">
        <ion-label>Nouveau</ion-label>
      </ion-segment-button>
      <ion-segment-button disabled *ngIf="!favoriteTrip">
        <ion-label>Nouveau</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites" *ngIf="!favoriteTrip">
        <ion-label>Favoris</ion-label>
      </ion-segment-button>
      <ion-segment-button disabled *ngIf="favoriteTrip">
        <ion-label>Favoris</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-button fill="clear">
      <ion-icon name="navigate-outline"></ion-icon>
      Go
    </ion-button>
  </div>

</ion-content>
