@import "../../theme/variables.scss";

.city {
   font-size: smaller;
   width: min-content;
}

.favoriteTrip {
   height: 213px;
}

.stopsDiv {
   
   ion-input {
      color: var(--ion-color-accent);
      border: solid 2px var(--ion-color-accent);
      border-radius: 0.5rem;
      width: 100%;

      &:first-child {
         margin-bottom: 0.5rem;
      }
   }

   .reverseBtn {
      position: absolute;
      right: 2rem;
      z-index: 3;
      transform: translateY(-57%);
      background-color: var(--ion-color-accent-tint);
      border: solid 2px var(--ion-color-accent-tint);
      box-shadow: 0.1rem 0.1rem 0.5rem black;
      display: block;
      margin: auto;
      border-radius: 0.5rem;
      height: 3rem;
   }
}

.dateTimeDiv {
   
   ion-label {
      color: var(--ion-color-accent);
   }

   ion-item {
      --ion-item-background: transparent;
      border-bottom: solid 1px var(--ion-color-accent);
      
      ion-select {
         font-size: medium;
      }

      ion-label {
         color: var(--ion-color-accent-tint);
         font-size: medium;
      }
   }
}

.pmrAccessDiv {
   display: flex;
   
   img {
      width: 2rem;
      margin: auto 0.1rem;
   }

   ion-label {
      color: var(--ion-color-accent-tint);
      margin: auto 1rem;
      font-size: medium;
   }
}

.footer {
   display: flex;

   .favoriteBtn {

      ion-icon {
         font-size: 2rem;
      }
   }

   .goBtn {
     margin: auto;
     background-color: var(--ion-color-accent-tint);
     border-radius: 2rem;
 
     ion-icon {
       font-size: large;
     }
   }
}