// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

:root {
  /* Accent Color */
	--ion-color-accent: #b22d24;
	--ion-color-accent-rgb: 178,45,36;
	--ion-color-accent-contrast: #ffffff;
	--ion-color-accent-contrast-rgb: 255,255,255;
	--ion-color-accent-shade: #9d2820;
	--ion-color-accent-tint: #ba423a;
  --ion-color-accent-light: #ea9283;

  /* Dark */
  --ion-color-dark: #232323;
	--ion-color-dark-rgb: 35,35,35;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #1f1f1f;
	--ion-color-dark-tint: #393939;
    
  /* Light */
	--ion-color-light: #f0eef2;
	--ion-color-light-rgb: 240,238,242;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d3d1d5;
	--ion-color-light-tint: #f2f0f3;
}

ion-tab-button {
  --color: var(--ion-color-accent);
}

ion-button {
  --color: var(--ion-color-accent);
}

ion-title {
  --color: var(--ion-color-accent);
  text-align: center;
}

ion-searchbar {
  --icon-color: var(--ion-color-accent);
  --border-radius: 0.5rem;
  border-radius: 0.5rem;
  padding-right: 2.5rem;
}

ion-toggle {
  --handle-background: var(--ion-color-accent);
  --handle-background-checked: var(--ion-color-accent);
}

ion-segment {
  margin: auto 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  height: 3rem;

  ion-segment-button {
    margin-bottom: 0.25rem;
    --color: var(--ion-color-accent);
    font-size: smaller;
  }
}

ion-card {
  border-radius: 0.5rem;

  ion-item {
    border-radius: 0.5rem;
    margin: 1%;

    ion-icon {
        transform: rotate(90deg);
    }
  }
}

ion-progress-bar {
  --background: var(--ion-color-light-shade);
  --progress-background: var(--ion-color-accent-tint);
}

.dateTimeDiv {

  .dateTimeLabel {
    color: var(--ion-color-accent);
    font-size: large;   
  }

  ion-item {
    --ion-item-background: transparent;
    border-bottom: solid 1px var(--ion-color-accent);
    
    ion-select {
      font-size: medium;
    }

    ion-label {
      font-size: medium;
    }
  }
}

.footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 8%;
  margin: 2% 10%;
  border-radius: 0.5rem;
}

.closeBtn {
  float: right;
  margin: auto 0.5rem;
  --background: var(--ion-color-accent);
  border-radius: 0.5rem;
}

.stopDiv {
  display: flex;
  border-radius: 0.5rem;
  margin: 0.5rem;

  div {
    margin: auto 0.25rem;
    text-align: center;
    padding: 0.5rem;
    width: 43%; 
    
    &:first-child {
      width: 7%;
      border-radius: 50%;
      margin-left: 2rem;
    }

  }
}

ion-app.dark {

  ion-toolbar {
    --ion-background-color: var(--ion-color-dark);
  }
  
  ion-tab-bar {
    --ion-background-color: var(--ion-color-dark);

    ion-tab-button {
      --color-selected: var(--ion-color-accent-tint);
    }
  }

  ion-button {
    --color-selected: var(--ion-color-accent-tint);
  }

  ion-content {
    --ion-background-color: var(--ion-color-dark-tint);
  }

  ion-toggle {
    --background: var(--ion-color-dark-tint);
    --background-checked: var(--ion-color-accent-tint);
  }

  ion-segment {
    --background: var(--ion-color-dark-tint);

    ion-segment-button {
      --indicator-color: var(--ion-color-accent-tint);
      --color-checked: var(--ion-color-accent-tint);
    }
  }

  ion-select {
    color: var(--ion-color-accent-tint);
    font-size: 1.25rem;
  
    &::part(text) {
      color: var(--ion-color-accent-tint);
    }
  }

  .stopDiv {
    background-color: var(--ion-color-dark);
    color: var(--ion-color-light);
    box-shadow: 0.25rem 0.25rem 1rem black;
  }

  .closeBtn {
    color: var(--ion-color-light);
    box-shadow: 0.25rem 0.25rem 1rem black;

    ion-icon {
      color: var(--ion-color-light);
    }
  }

  .reverseBtn {
  
    ion-icon {
      color: var(--ion-color-light-shade);
      font-size: 2rem;
    }
  }

  .dateTimeDiv {
    
    ion-item {

      ion-label {
        color: var(--ion-color-accent-tint);
      }
    }
  }

  .contentDiv {
    background-color: var(--ion-color-dark);
    box-shadow: 0.25rem 0.5rem 1rem black;
  }

  ion-card {
    box-shadow: 0.25rem 0.5rem 1rem black;
    
    .name {
      color: white;
    }

    ion-item {
      --ion-item-background: var(--ion-color-dark);

      label {
        color: white;
      }
    }
  }

  .stopsContent {
    
    div {
      background-color: var(--ion-color-dark);
      margin: 5%;
      padding: 2%;
      border-radius: 0.5rem;
      box-shadow: 0.25rem 0.5rem 1rem black;
    }
  }

  ion-searchbar {
    background-color: var(--ion-color-dark);
    --background: var(--ion-color-dark-tint);
    box-shadow: 0.25rem 0.25rem 1rem black;
    --placeholder-color: var(--ion-color-accent-tint);
  }

  ion-card {
    span {
      color: white;
    }

    h2 {
      color: white;
    }
  }

  .header {
    ion-button {
      background-color: var(--ion-color-dark);
      box-shadow: 0.25rem 0.5rem 1rem black;
    }
  }

  .footer {
    
    .goBtn {

      ion-label {
        color: var(--ion-color-light-shade);
      }
  
      ion-icon {
        color: var(--ion-color-light-shade);
      }
    }
  }
}

ion-app.light {

  ion-toolbar {
    --ion-background-color: white;
  }
  
  ion-tab-bar {
    --ion-background-color: white;

    ion-tab-button {
      --color-selected: var(--ion-color-accent-light);
    }
  }

  ion-button {
    --color-selected: var(--ion-color-accent-light);
  }

  ion-content {
    --ion-background-color: var(--ion-color-light);
  }

  ion-toggle {
    --background: var(--ion-color-light);
    --background-checked: var(--ion-color-accent-light);
  }

  ion-segment {
    --background: var(--ion-color-light);

    ion-segment-button {
      --indicator-color: var(--ion-color-accent-tint);
      --color-checked: var(--ion-color-accent-light);
    }
  }

  ion-select {
    color: var(--ion-color-accent-light);
    font-size: 1.25rem;
  
    &::part(text) {
      color: var(--ion-color-accent-light);
    }
  }

  .stopDiv {
    background-color: var(--ion-color-light);
    color: var(--ion-color-dark);
    box-shadow: 0.25rem 0.25rem 1rem var(--ion-color-dark);
  }

  .closeBtn {
    color: var(--ion-color-dark);
    box-shadow: 0.25rem 0.25rem 1rem var(--ion-color-dark-tint);

    ion-icon {
      color: var(--ion-color-dark);
    }
  }

  .reverseBtn {
  
    ion-icon {
      color: var(--ion-color-dark-shade);
      font-size: 2rem;
    }
  }

  .dateTimeDiv {
    
    ion-item {

      ion-label {
        color: var(--ion-color-accent-light);
      }
    }
  }

  .contentDiv {
    background-color: white;
    box-shadow: 0.25rem 0.5rem 1rem var(--ion-color-dark-tint);
  }

  ion-card {
    box-shadow: 0.25rem 0.5rem 1rem var(--ion-color-dark-tint);
    
    .lineName {
      color: black;
    }

    ion-item {
      --ion-item-background: white;

      label {
        color: black;
      }
    }
  }

  .stopsContent {
    
    div {
      background-color: white;
      margin: 5%;
      padding: 2%;
      border-radius: 0.5rem;
      box-shadow: 0.25rem 0.5rem 1rem var(--ion-color-dark-tint);
    }
  }

  ion-searchbar {
    background-color: var(--ion-color-light);
    --background: white;
    box-shadow: 0.25rem 0.25rem 1rem var(--ion-color-dark-tint);
    --placeholder-color: var(--ion-color-accent-light);
  }

  .header {
    ion-button {
      background-color: white;
      box-shadow: 0.25rem 0.5rem 1rem var(--ion-color-dark-tint);
    }
  }

  .footer {
    
    .goBtn {

      ion-label {
        color: var(--ion-color-dark-tint);
      }
  
      ion-icon {
        color: var(--ion-color-dark-tint);
      }
    }
  }
}