<ion-header>
  <ion-toolbar>
    <br>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-button>Point de départ</ion-button>
    <ion-button>Point d'arrivé</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-progress-bar
    type="indeterminate"
    *ngIf="schedules === undefined"
  ></ion-progress-bar>
  <div class="footer">
  </div>
  <ion-list>
    <ion-item *ngFor="let schedule of schedules">
      <ion-title>
        {{ schedule.pattern.id.split(":")[1] }}
      </ion-title>
      <ion-label size="small">
        {{ schedule.pattern.desc }}
      </ion-label>
      <ion-label>
        <span *ngFor="let time of schedule.times">
          {{ renderTime(time.realtimeArrival) }}
          <br>
        </span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
